body {
    font-family: "Noto Sans TC", sans-serif;
}

.container {
    margin: 30px auto;
    display: flex;
    width: 1137px;
    height: 710px;
}

.item1,
.item2 {
    width: 553px;
    height: 100%;
    background-color: #e7eeea;
}

.item1 {
    margin-right: 15px;
    margin-left: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item2 {
    margin-right: 9px;
    display: flex;
    /* 使用 Flexbox */
    align-items: center;
    /* 垂直置中 */
    justify-content: center;
    /* 水平置中 */
}

.rightside {
    width: 100%;
    /* 佔滿整個 .item2 的寬度 */
    margin: 0 38px;
}

h3 {
    color: #37523d;
    margin-top: 123px;
    margin-bottom: 42px;
}

p {
    color: #2d2d2d;
    margin-bottom: 42px;

}

.slogan {
    color: #37523d;
    font-weight: bold;
}